body {
  background-color: lightgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-size: 3vw;
  padding: 30px; 
  text-decoration: underline;
}

section {
  background-color: rgb(161, 161, 161);
  width: 80%;
  height: 60vh;
  margin: 25px auto;
  display: flex;
  justify-content: space-evenly;

}

img {
  width: 400px;
  border: 1px solid black;
  margin-top: 25px;
  margin-bottom: 25px;

}

main div {
  width: max-content;
  margin: auto;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(251, 209, 215);
}

main ul {
  width: max-content;
  margin: auto;
  padding: 20px;
  margin-top: 10px;
}

main li {
  line-height: 3vh
}